# Blockchain Configuration
# PRIVATE_KEY=261963cf836fb3341d0c203e07d891bd3ea0e7c573aba0683cde058d821bfb87
SEED_PHRASE=""
# Network Configuration
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false

# Trino Configuration
TRINO_HOST=localhost
TRINO_PORT=8080
TRINO_USER=admin
TRINO_CATALOG=hive
TRINO_SCHEMA=default

# Off-chain Service Configuration
OFFCHAIN_API_PORT=3001
